.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--color-beige);
  align-items: center;
  padding: 5rem;
  flex-wrap: wrap;
}

.content {
  margin-right: 5rem;
}

.title {
  color: var(--color-secondary-dark);
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: -1px;
  word-spacing: 2px;
  line-height: 1.5;
}
.text {
  color: var(--color-dark-text);
  opacity: 0.8;
  font-size: 1.5rem;
  line-height: 1.5;
}

.wrapper__button {
  font-weight: 300;
}

@media (max-width: 48em) {
  .wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .content {
    text-align: center;
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
}
